[submodule "eeg-pyspark-pipeline"]
	path = eeg-pyspark-pipeline
	url = https://github.com/ans9868/eeg-pyspark-pipeline.git
[submodule "eeg-ray-tuner"]
	path = eeg-ray-tuner
	url = https://github.com/ans9868/eeg-ray-tuner.git
